/* REACT BASE STYLES */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ADDED STYLES */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: peachpuff;
  height: 5vh;
}

.link-link {
  color: darkslategrey;
  text-decoration: none;
  background-color: papayawhip;
  height: 3vh;
  padding: 3px;
}

.footer-container {
  text-align: center;
  background-color: peachpuff;
  height: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container p {
  background-color: papayawhip;
  padding: 1px;
}